<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"

      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo02"
      mdbCollapse

    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#">Jeux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1"
            >Cours</a
          >
        </li>
      </ul >
<div>

      <ul class="nav navbar-nav">

        <li *ngIf="!loggedin()" class="nav-item">
          <a  routerLinkActive="active" class="nav-link" routerLink="/Signup">Signup </a>
        </li>
        <li *ngIf="!loggedin()" class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/Login">Login </a>
        </li>


        <li   *ngIf="loggedin()"class="nav-item" >
         <button type="button" class="btn btn-dark text-light" ><a class="nav-link"(click)="onLogout()"></a> Logout
         </button>
        </li>

      </ul>
    </div>

  </div>
</div>
</nav>
